@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Mitr:wght@700&display=swap');
.title{
    text-align: center;
    font-family: Mitr, sans-serif;
    font-size: 50px;
    color: #243a47;
}
nav a{
    text-align: center;
    text-decoration: none;   
    color: #243a47;
    padding-top: 25px;
}
header{
    background-color: #66a2ba;
    font-family: Mitr, sans-serif;
    display: grid;
    grid-template-columns: 450px auto;
    font-size: 40px;
}
nav a:hover{
    color: #61e786;
}
#logo-link img{
    padding-top: 10px;
    justify-self: center;
    align-self: center;
    width: 450px;
}
nav{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: #243a47;
    color: #fceff9;
    padding: 25px 10px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 0;
    font-size: 25px;
}
footer a{
    text-decoration: none;
    color: #fceff9;
}
footer a:hover{
    color: #61e786;
}
.box{
    background-color: #61e786;
    z-index: 1;
    height: 50px;
    width: 500px;
}
#what-is{
    display: flex;
    padding-left: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
}
#messier-object{
    padding-left: 50px;
    margin-top: -50px;
    align-self: center;
}
#messier-object h2, #charles-messier h2, #object-top h2, #objects h2, #upper h2{
    text-align: center;
    font-size: 28px;
    font-family: Mitr, sans-serif;
    color: #66a2ba;
}
#messier-object p, #charles-messier p, #object-top p, #objects p, #upper p{
    font-size: 15px;
    font-family: Merriweather, serif;
    color: #243a47;
}
#who-is{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    margin-bottom: -50px;
    padding-left: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#charles-messier{
    grid-column: 1/3;
    width: 100%;
    align-self: center;
    margin-top: 0px;
}
#charles-picture{
    grid-column: 3/4;
    padding-left: 50px;
}

#orion{
    position: relative;
}
.orion-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: ease;
    backface-visibility: hidden;
}
.orion-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
}
#orion:hover .orion-overlay {
    opacity: 1;
}
#orion:hover .orion-image{
    opacity: 0.5;
}
.about-text {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#charles-picture{
    position: relative;
}
.messier-image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: ease;
    backface-visibility: hidden;
}
.messier-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
}
#charles-picture:hover .messier-overlay {
    opacity: 1;
}
#charles-picture:hover .messier-image{
    opacity: 0.5;
}
.messier-text {
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3em;
    margin: 4em 0;
}
#andromeda{
    grid-column: 1/2;
    max-width: 600px;
    align-self: center;
    grid-row: 1/3;
}
#object-top{
    grid-column: 2/3;
    align-self: center;
}
#pleiades{
    grid-column: 3;
    max-width: 400px;
    grid-row: 1/3;
    justify-self: center;
    margin-left: -200px;
}
#object-top h2{
    text-align: center;
    grid-column: 2/3;
    align-self: start;
}
#objects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    margin-top: 50px;
    margin-bottom: -100px;
}
#upper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#telescope{
    margin-left: 300px;
}
#telescope-pic{
    width: 400px;
}
#text{
    margin-right: 0px;
    margin-top: 75px;
}
#table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: -150px;
    width: 500px;
}
tr:nth-child(odd){
    background-color: #66a2ba;
    color: #fceff9;
}
tr:nth-child(even){
    background-color: #243a47;
    color: #61e786;
}
th{
    font-family: Mitr, sans-serif;
    font-size: 30px;
}
tr{
    font-family: Merriweather, serif;
}
@media screen and (max-width: 900px){
    nav, footer, #what-is, #messier-object, #who-is, #charles-messier, #charles-picture{
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    footer {
        margin-top: 25px;
    }
    #logo-link img{
        display: block;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        display: block;
    }
    #who-is, #charles-messier, #charles-picture{
        display: block;
    }
    #charles-picture{
        padding-bottom: 100px;
    }
    #orion{
        padding-bottom: 100px;
    }
    #top, #objects{
        display: block;
    }
    #pleiades{
        margin: 0 auto;
    }
    #objects{
        padding-bottom: 100px;
    }
    #upper{
        display: block;
    }
    #table{
        padding-bottom: 150px;
    }
    #charles-picture, #orion, #andromeda, #pleiades, #telescope-pic{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #telescope{
        margin: 0;
    }
}